extends layout

block topMenu
	-var selected = 'Home'
	
block content
	.jumbotron
		.row
			.col-lg-8
				img(src="../../images/village.png" alt="village" width="800" height="450" style="border:1px solid black;")
			.col-lg-4
				div(style="text-align:right")
					h3 Coordinates:
					p(class="lead") Country: #{doc.coords.country}
					p(class="lead") Region: #{doc.coords.region}
					p(class="lead") Village: #{doc.coords.village}
			
	.row
		.col-lg-4
			h2 Resource buildings
			table.table-bordered
				each resBuilding in doc.res
					tr
						td
							img(src="../../images/buildings/wishing_well.svg" alt="wishing_well" width="50" height="40")
						td(style="width:100%;")
							p #{resBuilding.name}
						td
							p #{resBuilding.level}
		.col-lg-4
			h2 Buildings
			table.table-bordered
				each building in doc.buildings
					tr
						td
							img(src="../../images/buildings/wishing_well.svg" alt="wishing_well" width="50" height="40")
						td(style="width:100%;")
							p #{building.name}
						td
							p #{building.level}
		.col-lg-4
			h2 Mercenaries
			table.table-bordered
				each mercenary in doc.mercenaries
					tr
						td
							img(src="../../images/mercenaries/sword.png" alt="wishing_well" width="50" height="40")
						td(style="width:100%;")
							p #{mercenary.name}
						td
							p #{mercenary.quantity}