html(lang="en")
	head
		meta(charset='ISO-8859-1')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="shortcut icon", href="http://getbootstrap.com/assets/ico/favicon.ico")
		
		script(src="../javascripts/jquery.js")
		script(src="../javascripts/game.js")
		
		title Game Page
		
		link(href="../stylesheets/bootstrap.min.css", rel="stylesheet")
		link(href="../stylesheets/justified-nav.css" rel="stylesheet")
		
		block topMenu
			-var selected = 'Home';

		-var menu = { 'Home': '/game/index', 'Resources': '/game/resources', 'Buildings': '/game/buildings', 'Research': '/game/research', 'Mercenaries': '/game/mercenaries', 'Logout': '/logout'};
		
	
	body
		.container
			.masthead
				.topInfo
					h3(class="text-muted") Hi, #{username}. &nbsp; Wood:#{resources.wood} &nbsp; Stone:#{resources.stone} &nbsp; Iron:#{resources.iron} &nbsp; Cereal:#{resources.cereal}
				ul.nav.nav-justified
					each val, key in menu
						if selected == key
							li.active
								a(href=val)= key
						else
							li
								a(href=val)= key
	
			
			block content
			
			.footer
				p &copy; Company 2014
			