html(lang="en")
	head
		meta(charset='ISO-8859-1')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="shortcut icon", href="http://getbootstrap.com/assets/ico/favicon.ico")
		
		script(src="../javascripts/jquery.js")
		script(src="../javascripts/game.js")
		
		title Game Page
		
		link(href="../stylesheets/bootstrap.min.css", rel="stylesheet")
		link(href="../stylesheets/justified-nav.css" rel="stylesheet")
		link(href="stylesheets/signin.css" rel="stylesheet")
		
		block topMenu
			-var selected = 'Home';

		-var menu = { 'Home': '/game/index', 'Resources': '/game/resources', 'Buildings': '/game/buildings', 'Research': '/game/research', 'Mercenaries': '/game/mercenaries', 'Logout': '/logout'};
	
	body
		.container
			.masthead
				.topInfo
					table(style="margin:")
						tr
							td(colspan="2")
								h3(class="text-muted")
									| Hi, #{username}. &nbsp; &nbsp;
									a.btn.btn-default(href="/logout") logout
									| &nbsp; &nbsp;
							td
								img.border(src="../../images/resources/wood.png" alt="wood_res" width="50" height="40")
							td
								p #{resources.wood}
								p #{doc.resourcesPerHour.woodPerHour} /h &nbsp; &nbsp;
								
							td
								img.border(src="../../images/resources/stone.png" alt="stone_res" width="50" height="40")
							td
								p #{resources.stone}
								p #{doc.resourcesPerHour.stonePerHour} /h &nbsp; &nbsp;
								
							td
								img.border(src="../../images/resources/iron.png" alt="iron_res" width="50" height="40")
							td
								p #{resources.iron}
								p #{doc.resourcesPerHour.ironPerHour} /h &nbsp; &nbsp;
								
							td
								img.border(src="../../images/resources/cereal.png" alt="cereal_res" width="50" height="40")
							td
								p Total: #{resources.cereal} &nbsp; &nbsp;
								if(doc.cerealAvailable < 0)
									p.red Available: #{doc.cerealAvailable} &nbsp; &nbsp;
								else
									p Available: #{doc.cerealAvailable} &nbsp; &nbsp;
							
							td
								h3(class="text-muted") &nbsp; &nbsp; Score: #{Math.floor(doc.score/100)}
								
				ul.nav.nav-justified
					each val, key in menu
						if selected == key
							li.active
								a(href=val)= key
						else
							li
								a(href=val)= key
	
			
			block content
			
			.footer
				p &copy; Company 2014
			